.alert {
    // background-color: $clr-twitter !important;
    border-radius: $br-primary !important;
    // color: $clr--white !important;
    font-family: Poppins-SemiBold !important;
    font-size: rem(20px);
    min-width: max-content !important;
    .Toastify__close-button {
        svg {
            fill: $clr-gray1;
            stroke: $clr-gray1;
        }
    }
}
