.add-tweet {
    font-family: NotoSans-Medium;
    .card-title {
        margin-bottom: 8px;
    }
    .new-tweet {
        gap: 7px;
        .acronym {
        }
        .tweet-input {
            line-height: inherit;
            border: none;
            height: 40px;
            flex-grow: 1;
            padding-inline: 5px;
            color: $clr-gray1;
            border-radius: $br-secondary;
            &::placeholder {
                color: $clr-gray4;
            }
            &:focus {
                outline-color: $clr-twitter;
            }
        }
    }
    .control-btns {
        @include flex-vertically-center;
        justify-content: space-between;
        padding-inline-start: calc(40px + 12px - 3.3px);

        .settings {
            @include flex-vertically-center;
            gap: 10px;
            .public-settings {
                position: relative;
                .public-settings-signs-wrapper {
                    @include flex-vertically-center;
                    gap: 6px;
                }
                .public-settings-txt {
                    color: $clr-gray2;
                    font-size: rem(12px);
                }
                .public-settings-modal {
                    top: 59px;
                    width: 235px;
                }
            }
            .img-icon,
            .public-settings-signs-wrapper {
                cursor: pointer;
                @include hover-supported {
                    &:hover {
                        @include custom-hover-svg-txt;
                        .public-settings-txt {
                            color: $clr-blue1;
                        }
                    }
                }
            }
            .add-reaction-container {
                cursor: pointer;
                padding: 6px;
                @include hover-supported {
                    &:hover {
                        background-color: lighten($clr-blue1, 40%);
                        border-radius: 4em;
                        svg {
                            stroke: $clr-blue1;
                        }
                    }
                }
                .EmojiPickerReact {
                    position: absolute;
                    box-shadow: $bs-primary;
                }
            }
        }
        .add-tweet-btn {
            @include custom-btn;
            height: 32px;
            width: 81px;
            &:disabled {
                background-color: lighten($clr-gray3, 20%);
                cursor: not-allowed;
                @include hover-supported {
                    &:hover {
                        color: $clr-red;
                        text-decoration: line-through;
                        background-color: darken($clr-gray3, 10%);
                    }
                }
            }
        }
    }
}
