.tweet-list {
    @include flex-column;
    gap: 20px;

    .tweet {
        position: relative;
        .tweet-modal {
            z-index: 30;
            position: absolute;
            right: -71px;
            top: 40px;
            .logout {
                margin-top: 10px;
                padding-top: 22px;
                border-top: 1px solid $clr-gray6;
                color: $clr-red;
            }
        }
        .options-container {
            @media (hover: hover) {
                visibility: hidden;
            }
            position: absolute;
            right: 16px;
            top: 10px;
            cursor: pointer;
            @include hover-supported {
                .options-icon {
                    @include custom-hover-svg-txt($outlineRadius: 3px);
                }
            }
        }
        .tweet-txt {
            font-family: NotoSans-Regular;
            color: $clr-gray2;
            max-width: 60ch;
            margin-bottom: 20px;
        }
        .tweet-img {
            border-radius: $br-secondary;
            box-shadow: $bs-primary;
            margin-bottom: 12px;
            width: 100%;
            object-fit: fill;
            min-height: 350px;
            aspect-ratio: 16/9;
        }
        .expose-info {
            font-family: NotoSans-Medium;
            display: flex;
            justify-content: flex-end;
            gap: 16px;
            color: $clr-gray4;
            font-size: rem(12px);
            margin-bottom: 8px;
        }

        .action-btns {
            @include flex-vertically-center;
            border-top: 1px solid $clr-gray7;
            border-bottom: 1px solid $clr-gray7;
            height: 50px;
            margin-bottom: 8px;
            .action-btn {
                @include for-mobile-layout {
                    .action-type {
                        display: none;
                    }
                }
                @include flex-vertically-center;
                justify-content: center;
                flex-grow: 1;
                gap: 8px;
                font-family: NotoSans-Medium;
                font-size: rem(14px);
                color: $clr-gray2;
                border: none;
                background-color: $clr--white;
                border-radius: $br-secondary;
                height: 86%;
                cursor: pointer;
                @include hover-supported {
                    &:hover {
                        background-color: $clr-gray7;
                        &:not(:is(.active)) {
                            &.retweet {
                                color: $clr-green2;
                                svg {
                                    stroke: $clr-green2;
                                }
                            }
                            &.like {
                                color: $clr-red;
                                svg {
                                    stroke: $clr-red;
                                }
                            }
                            &.bookmark {
                                color: $clr-blue2;
                                svg {
                                    stroke: $clr-blue2;
                                }
                            }
                        }
                        &:is(.active) {
                            color: $clr-gray2;
                            svg {
                                stroke: $clr-gray2;
                            }
                        }
                    }
                }
                &.retweet:is(.active) {
                    color: $clr-green2;
                }
                &.like:is(.active) {
                    color: $clr-red;
                    svg {
                        stroke: $clr-red;
                    }
                }
                &.bookmark:is(.active) {
                    color: $clr-blue2;
                    svg {
                        stroke: $clr-blue2;
                    }
                }
            }
        }
        &:hover {
            .options-container {
                visibility: visible;
            }
        }
    }

    .add-reply {
        position: relative;
        @include flex-vertically-center;
        gap: 12px;
        .reply-input {
            flex-grow: 1;
            height: 40px;
            font-family: NotoSans-Medium;
            color: $clr-gray1;
            background-color: $bgc-input;
            border-radius: $br-secondary;
            border: 1px solid $clr-gray7;
            padding-inline-start: 12px;
            &::placeholder {
                color: $clr-gray4;
            }
            &:focus {
                outline-color: $clr-twitter;
            }
        }
        .add-photo {
            position: absolute;
            right: 12.5px;
            cursor: pointer;
            &:hover {
                @include custom-hover-svg-txt($outlineRadius: 4px);
            }
        }
    }
}
