.main-header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: $clr--white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    .header-container {
        @include flex-vertically-center;
        height: 76px;
        width: 100%;
        justify-content: space-between;
        padding-inline: 20px 35px;
        margin-inline: auto;
    }
    .logo {
        @include flex-vertically-center;
        font-family: Poppins-SemiBold;
        font-size: rem(20px);
        color: $clr-gray1;
        position: relative;
        span {
            color: #1da1f2;
        }
        > * {
            cursor: pointer;
        }
    }

    .nav-list {
        display: none;
    }

    .account {
        position: relative;
        .account-icons-container {
            @include flex-vertically-center;
            cursor: pointer;
            > *:not(.user-img, .account-modal, .acronym) {
                display: none;
            }
            .user-img, .acronym {
                border-radius: 4em;
                height: 32px;
                width: 32px;
            }
        }
        .account-modal {
            top: 65px;
            right: 0;
            width: 192px;
        }
    }

    @include for-wide-layout {
        .nav-list {
            display: flex;
            gap: 40px;
            height: 100%;
            font-family: Poppins-Medium;
            font-size: rem(14px);
            color: $clr-gray3;
            letter-spacing: -0.035em;
            li {
                position: relative;
                a {
                    height: 100%;
                    @include flex-vertically-center;
                    padding: 20px;
                }
                &:has(.active) {
                    font-family: Poppins-SemiBold;
                    color: $clr-blue1;
                    .border {
                        position: absolute;
                        width: 100%;
                        height: 3px;
                        bottom: 0;
                        color: $clr-blue1;
                        background-color: $clr-blue1;
                        border-radius: 8px 8px 0px 0px;
                    }
                }
                .icon {
                    display: none;
                }
            }
        }
        .account {
            .account-icons-container {
                gap: 6px;
                font-family: NotoSans-SemiBold;
                font-size: rem(12px);
                > *:not(.user-img, .account-modal) {
                    display: inherit;
                }
                .expand_more {
                    @include flex-vertically-center;
                    justify-content: center;
                }
            }
        }
    }
    @include for-wide-layout {
        .header-container {
            max-width: 1300px;
        }
    }
    @include for-mobile-layout {
        .header-container {
            padding-inline: 15px;
            width: 100%;
        }
    }
}
