/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
#root {
  background-color: black;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
input,
dd {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
#root,
body {
  height: 100%;
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  background: white;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  width: 15px;
  z-index: 200;
}
*::-webkit-scrollbar-track-piece {
  // background-color: $clr-gray6;
  z-index: 200;
}

*::-webkit-scrollbar-track {
  background-color: $clr--white;
  // margin-block: 76px;
  z-index: 200;
  
}
*::-webkit-scrollbar-button {
  // 
  z-index: 200;
}

*::-webkit-scrollbar-thumb {
  z-index: 200;
  background-color: $clr-gray2;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  border-radius: 50vw;
}

/* Set core body defaults */
body {
  overflow-y: overlay;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  letter-spacing: -0.035em;
  
}



.main-app {
  min-height: calc(100%);  
  background-color: $bgc-primary;
  display: flex;
  flex-direction: column;
  &:has(> .loading) {
    background-color: unset !important;
  }
  > *:not(header, footer) {
    flex: 1;
  }
}

.user-img {
  border-radius: 4em;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
