// Font Sizes
.fs12 {
    font-size: rem(12px);
}
.fs14 {
    font-size: rem(14px);
}
.fs18 {
    font-size: rem(18px);
}
.fs20 {
    font-size: rem(20px);
}
.fs24 {
    font-size: rem(24px);
}
.fs28 {
    font-size: rem(28px);
}
.fs30 {
    font-size: rem(30px);
}

.text-center {
    text-align: center;
}

.hide {
    display: none;
}

.background {
    // background-image: url('https://abs.twimg.com/responsive-web/client-web/book-in-bird-cage-400x200.v1.366bcfc9.png');
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
}

// flex helpers

.flex {
    display: flex;

    > *.full {
        flex: 1;
    }
    &.column {
        flex-direction: column;
    }
    &.justify-center {
        justify-content: center;
    }
    &.align-center {
        align-items: center;
    }
}

// Media helpers

.square-ratio {
    @include aspect-ratio(1, 1);
}
.video-ratio {
    @include aspect-ratio(16, 9);
}
.portrait-ratio {
    @include aspect-ratio(9, 16);
}

// Page
.page {
    display: grid;
    max-width: calc(745px + 306px + 20px + 40px);
    width: 100%;
    margin-inline: auto;
    padding-inline: 20px 35px;
    padding-block: 26px;
    gap: 20px;

    &.loading {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: unset;
    }
    @include for-mobile-layout {
        padding-inline: 15px;
    }
}

// Card
.card {
    background-color: $clr--white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: $bs-primary;
    .card-title {
        font-family: Poppins-SemiBold;
        font-size: rem(12px);
        border-bottom: 1px solid $clr-gray6;
        padding-bottom: 8px;
        margin-bottom: 20px;
    }
    .card-header {
        display: flex;
        gap: 12px;
        align-items: center;
        margin-bottom: 20px;
        .user-info {
            display: flex;
            flex-direction: column;
            .user-name {
                cursor: pointer;
                font-family: Poppins-Medium;
                font-size: rem(16px);
                color: $clr--black;
            }
            .sub-info {
                font-family: NotoSans-Medium;
                font-size: rem(12px);
                color: $clr-gray3;
            }
        }
    }
    .user-img {
        cursor: pointer;
        height: 40px;
        width: 40px;
    }
}

// Modal
.modal {
    @include flex-column;
    gap: 7.5px;
    padding: 12px;
    position: absolute;
    font-size: rem(12px);
    height: max-content;
    width: max-content;
    background-color: $clr--white;
    border-radius: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px !important;
    z-index: 60;
    .modal-title {
        border: none;
        font-family: Poppins-SemiBold;
        color: $clr-gray2;
        margin-bottom: 3px;
    }
    .modal-subtitle {
        font-family: NotoSans-Regular;
        color: $clr-gray3;
        margin-bottom: 6px;
    }
    .modal-item-container {
        padding-top: 13px;
        margin-top: 5px;
        border-top: 1px solid $clr-gray6;
    }
    .modal-item {
        font-family: NotoSans-Medium;
        @include flex-vertically-center;
        gap: 10px;
        padding: 10px;
        cursor: pointer;
        &:hover {
            @include hover-supported {
                background-color: #f2f2f2;
                border-radius: $br-secondary;
            }
        }
        &.positive {
            color: $clr-twitter;
        }
        &.negative {
            color: $clr-red;
        }
    }
}

// No Tweets Yet
.no-tweets-yet {
    color: $clr-gray2;
    
    .no-tweets-img {
        border-radius: 20px;
        margin-bottom: 10px;
    }
    .title {
        font-family: Poppins-SemiBold;
        margin-bottom: 5px;
        font-size: clamp(rem(16px),rem(20px),rem(24px));
    }
    .subtitle {
        font-family: Poppins-Medium;
        font-size: clamp(rem(14px),rem(18px),rem(22px));
    }
}
