.reply-list {
    @include flex-column;
    gap: 18px;
    margin-top: 8px;
    padding-top: 20px;
    border-top: 1px solid $clr-gray7;
    .reply {
        @include flex-column;
        gap: 3px;
        .reply-head {
            display: flex;
            align-items: block-start;
            gap: 12px;
            .user-img {
                height: 40px;
                width: 40px;
                border-radius: 4em;
            }
            .reply-body {
                position: relative;
                padding: 12px 12px 20px;
                background-color: $bgc-input;
                border-radius: $br-secondary;
                width: 100%;
                .reply-info-container {
                    @include flex-vertically-center;
                    justify-content: space-between;

                    .reply-info {
                        @include flex-vertically-center;
                        gap: 15px;
                        @include for-mobile-layout {
                            align-items: flex-start;
                            flex-direction: column;
                            gap: 0px;
                        }

                        .user-name {
                            cursor: pointer;
                            font-family: Poppins-Medium;
                            color: $clr--black;
                            font-size: rem(14px);
                        }
                        .reply-time {
                            font-family: NotoSans-Medium;
                            font-size: rem(12px);
                            color: $clr-gray4;
                        }
                    }

                    .options-container {
                        @media (hover: hover) {
                            visibility: hidden;
                        }
                        cursor: pointer;
                        @include hover-supported {
                            .options-icon {
                                @include custom-hover-svg-txt($outlineRadius: 3px);
                            }
                        }
                    }
                    .reply-opt-modal {
                        top: 40px;
                        right: 0;
                    }
                }
                .reply-content {
                    font-family: NotoSans-Regular;
                    font-size: rem(16px);
                    color: $clr-gray2;
                    max-width: 60ch;
                }
            }
        }
        .reply-action {
            padding-inline-start: 52px;
            @include flex-vertically-center;
            gap: 20px;
            font-family: NotoSans-SemiBold;
            color: $clr-gray4;
            font-size: rem(12px);

            .like {
                z-index: 2;
                @include flex-vertically-center;
                cursor: pointer;
                @include hover-supported {
                    &:not(:is(.active)) {
                        color: $clr-red;
                        background-color: darken($bgc-input, 13%);
                        border-radius: $br-secondary;
                        outline: 4px solid darken($bgc-input, 13%);
                        svg {
                            stroke: $clr-red;
                            fill: $clr-red;
                        }
                    }
                }
                &:is(.active) {
                    color: $clr-red;
                    svg {
                        stroke: $clr-red;
                        fill: $clr-red;
                    }
                    @include hover-supported {
                        background-color: darken($bgc-input, 6%);
                        border-radius: $br-secondary;
                        outline: 4px solid darken($bgc-input, 6%);
                        color: $clr-gray4;
                        svg {
                            stroke: $clr-gray4;
                            fill: $clr-gray4;
                        }
                    }
                }
                gap: 3px;
            }
        }
        @include hover-supported {
            .reply-head {
                .reply-body {
                    .reply-info-container {
                        .options-container {
                            visibility: visible;
                        }
                    }
                }
            }
            background-color: darken($bgc-input, 10%);
            outline: 10px solid darken($bgc-input, 10%);
            border-radius: $br-primary;
            .reply-body {
                background-color: darken($bgc-input, 10%);
            }
        }
    }
}
