.explore {
    .small-area {
        display: none;
    }
    .search-tweet {
        position: relative;
        height: 54px;
        @include flex-vertically-center;
        gap: 12px;
        padding: 0;
        font-family: NotoSans-Medium;
        .search-icon-container {
            position: absolute;
            cursor: pointer;
            left: 12px;
        }
        .cancel-search-container {
            position: absolute;
            right: 12px;
            cursor: pointer;
        }

        &:has(.search-input:focus) {
            .search-icon {
                svg {
                    stroke: $clr-twitter;
                    fill: $clr-twitter;
                }
            }
        }
        .search-input {
            padding-inline-start: 36px;
            padding-inline-end: 40px;
            height: 100%;
            flex-grow: 2;
            font-family: NotoSans-Medium;
            border-radius: $br-secondary;
            border: none;
            color: $clr-gray1;
            border-radius: 20px;
            &::placeholder {
                color: $clr-gray4;
            }
            &:focus {
                border: none;
                outline: 2px solid $clr-twitter;
            }
        }
    }
    @include for-wide-layout {
        grid-template-columns: 1fr 2fr;
        .small-area {
            display: flex;
        }
    }
}
