.explore {
    display: flex;
    flex-direction: column;
    .who-to-follow {
        max-height: 48px;
        overflow-y: hidden;
        transition: max-height 0.6s ease-in-out;
        &:has(> .expand) {
            overflow-y: auto;
        }
        .card-title {
            @include flex-vertically-center;
            justify-content: space-between;
            .expand-more {
                transition: transform 0.6s;
                cursor: pointer;
                @include hover-supported {
                    @include custom-hover-svg-txt($outlineRadius: 4px);
                }
            }
        }
        &:has(.expand) {
            max-height: 300px;
            .card-title {
                .expand-more {
                    transform: rotate(180deg);
                }
            }
        }
        @include for-wide-layout {
            max-height: unset;
            .expand-more {
                display: none;
            }
        }
    }

    .search-tweet {
        position: relative;
        height: 54px;
        @include flex-vertically-center;
        gap: 12px;
        padding: 0;
        font-family: NotoSans-Medium;
        .search-icon-container {
            position: absolute;
            cursor: pointer;
            left: 12px;
        }
        .cancel-search-container {
            position: absolute;
            right: 12px;
            cursor: pointer;
        }

        &:has(.search-input:focus) {
            .search-icon {
                svg {
                    stroke: $clr-twitter;
                    fill: $clr-twitter;
                }
            }
        }
        .search-input {
            padding-inline-start: 36px;
            padding-inline-end: 40px;
            height: 100%;
            flex-grow: 2;
            font-family: NotoSans-Medium;
            border-radius: $br-secondary;
            border: none;
            color: $clr-gray1;
            border-radius: 20px;
            &::placeholder {
                color: $clr-gray4;
            }
            &:focus {
                border: none;
                outline: 2px solid $clr-twitter;
            }
        }
    }
    @include for-wide-layout {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}
