.home {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;

    .small-area {
        > * {
            max-height: 58px;
            overflow: hidden;
            transition: max-height 0.6s ease-in-out;
            .card-title {
                border-bottom: unset;
            }
            &:has(> .expand) {
                overflow-y: auto;
                .card-title {
                    border-bottom: 1px solid #E0E0E0;
                }
            }
            .card-title {
                @include flex-vertically-center;
                justify-content: space-between;
                .expand-more {
                    transition: transform 0.6s;
                    cursor: pointer;
                    @include hover-supported {
                        @include custom-hover-svg-txt($outlineRadius: 4px);
                    }
                }
            }
            &:has(.expand) {
                max-height: 300px;
                .card-title {
                    .expand-more {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
    @include for-wide-layout {
        display: grid;
        grid-template-columns: 2fr 1fr;
        justify-content: unset;
        .small-area {
            display: flex;
            > * {
                max-height: 400px;
                overflow-y: auto;
                .expand-more {
                    display: none;
                }
            }
        }
    }
}
