.landing-page {
    background-color: white;

    .main-container {
        min-height: calc(100vh - 76px);
        margin-bottom: 76px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .left-area {
            padding: 30px;
            background-color: #3490dc;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .retwitt-animation {
                margin-inline: auto;
                max-height: 40vh;
            }

            .catchphrases-container {
                @include flex-column;
                gap: 10px;
            }
            .catchphrase {
                @include flex-vertically-center;
                font-family: Poppins-SemiBold;
                font-size: clamp(20px, 2vw, 30px);
                color: $clr--white;
                gap: 20px;
                .catchphrase-icon {
                    min-width: 48px;
                }
            }
        }
        .right-area {
            @include flex-column;
            justify-content: center;
            padding-inline: 20%;
            gap: 20px;

            .retwitt-logo {
                @include flex-vertically-center;
                font-family: Poppins-SemiBold;
                font-size: rem(30px);
                color: $clr-gray1;
                position: relative;
                .retwitt-icon {
                    height: 80px;
                    width: 80px;
                }
                span {
                    color: #1da1f2;
                }
            }
            .call-to-action-title {
                font-family: Poppins-Medium;
                font-size: rem(30px);
            }
            .call-to-action-subtitle {
                font-family: Poppins-SemiBold;
                font-size: rem(20px);
            }
            .btn-landing {
                @include custom-btn;
                width: 100%;
                height: 50px;
                font-size: rem(20px);
                font-family: Poppins-SemiBold;
                margin-top: 10px;
                &.demo {
                    margin-top: 20px;
                    background-color: transparent;
                    border: 1px solid $clr-twitter;
                    color: $clr-gray1;
                }
            }
        }
    }
    .landing-footer {
        position: fixed;
        @include flex-vertically-center;
        justify-content: center;
        font-family: Montserrat-Medium;
        height: 76px;
        bottom: 0;
        width: 100%;
        margin: 0;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        color: $clr-gray3;
        background-color: darken(white, 5%);
        .emphasized {
            font-family: Montserrat-Bold;
        }
    }
}

@include for-mobile-layout {
    .landing-page {
        .main-container {
            display: flex;
            flex-direction: column-reverse;
            .left-area,
            .right-area {
                min-height: calc(100vh - 76px);
                padding: 20px;
                justify-content: space-around;
            }
        }
    }
}
