.login-signup {
    .login-signup-header {
        height: 76px;
        @include flex-vertically-center;
        justify-content: center;
        background-color: $clr--white;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        width: 100%;
        .back {
            position: absolute;
            top: calc(76px / 2 - (40px / 2));
            left: 20px;
            cursor: pointer;
            @include hover-supported {
                @include custom-hover-svg-txt($outlineRadius: 2px);
            }
        }
    }
    .main-content {
        max-width: calc(745px + 306px + 20px);
        margin-inline: auto;
        margin-bottom: 76px;
        @include flex-column;
        gap: 40px;
        padding: 20px;
        @include for-mobile-layout {
            gap: 15px;
        }
    }
    .nav-list {
        display: flex;
        gap: 40px;
        height: 100%;
        font-family: Poppins-Medium;
        font-size: rem(24px);
        color: $clr-gray3;
        letter-spacing: -0.035em;
        @include for-mobile-layout {
            gap: 20px;
        }
        li {
            position: relative;
            a {
                height: 100%;
                @include flex-vertically-center;
                padding: 20px;
            }
            &:has(.active) {
                font-family: Poppins-SemiBold;
                color: $clr-blue1;
                .border {
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    bottom: 0;
                    color: $clr-blue1;
                    background-color: $clr-blue1;
                    border-radius: 8px 8px 0px 0px;
                }
            }
            .icon {
                display: none;
            }
        }
    }
    .call-to-action {
        @include flex-vertically-center;
        flex-wrap: wrap;
        font-family: Poppins-Medium;
        font-size: rem(20px);
        color: $clr-gray2;
        width: 100%;
        gap: 5px;
        padding: 20px;
        @include for-mobile-layout {
            padding: 15px;
        }
        .emphasized {
            color: $clr-twitter;
            font-family: Poppins-SemiBold;
        }
        .one-line {
            display: flex;
            gap: 5px;
        }
    }

    .login-signup-form {
        @include flex-vertically-center;
        gap: 20px;
        padding: 20px;
        @include for-mobile-layout {
            gap: 15px;
            padding: 15px;
        }
        flex-direction: column;
        .input-item-container {
            height: 55px;
            width: 100%;
            position: relative;
            background-color: darken(white, 2%);
            border-radius: 12px;
            box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
            outline: 1px solid rgba(29, 161, 242, 0.09);

            @include hover-supported {
                background-color: rgba(29, 161, 242, 0.05);
            }
            .title-container {
                position: relative;
                z-index: 30;
                @include flex-vertically-center;
                justify-content: space-between;
                padding-inline: 10px;
                padding-top: 6px;
                color: $clr-gray1;
                font-family: Poppins-Medium;
                font-size: rem(16px);
                .counter {
                    visibility: hidden;
                }
            }
            &:has(input:focus-visible) {
                background-color: rgba(29, 161, 242, 0.05);
                .title-container {
                    font-family: Poppins-Medium;
                    
                    .counter {
                        visibility: visible;
                        color: black;
                        font-size: rem(12px);
                        &.out-of-space {
                            .emphasized {
                                color: red;
                            }
                        }
                    }
                    .title {
                        color: $clr-twitter;
                        font-size: rem(18px);
                    }
                }
                input {
                    color: $clr--black;
                }
            }
            input,
            input:-webkit-autofill,
            input:-webkit-autofill:hover,
            input:-webkit-autofill:focus,
            input:-webkit-autofill:active {
                all: unset !important;
                position: absolute !important;
                top: 0 !important;
                left: 0 !important;
                width: calc(100% - 20px) !important;
                border-radius: 12px !important;
                padding-inline: 10px !important;
                padding-top: 30px !important;
                padding-bottom: 6px !important;
                line-height: 1 !important;
                font-family: NotoSans-Regular !important;
                font-size: rem(14px) !important;
                margin-inline: auto !important;
                color: $clr-gray1 !important;
                -webkit-box-shadow: 0 0 0 30px transparent inset !important;
                cursor: pointer !important;
                &:focus {
                    outline: 1px solid $clr-twitter !important;
                    font-family: NotoSans-SemiBold !important;
                    color: $clr--black !important;
                }
            }
        }
        .btn-submit {
            @include custom-btn;
            width: 100%;
            border-radius: 12px;
            height: 55px;
            font-size: rem(18px);
            box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
        }
    }
    .landing-footer {
        position: fixed;
        @include flex-vertically-center;
        justify-content: center;
        font-family: Poppins-Medium;
        font-size: rem(18px);
        height: 76px;
        bottom: 0;
        width: 100%;
        margin: 0;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        color: $clr-gray1;
        background-color: $clr--white;
        .emphasized {
            font-family: Poppins-SemiBold;
        }
    }
}
