.user-details {
    position: relative;
    padding-bottom: 102px;
    > *:not(.cover-img, .edit-profile-modal, .black-screen) {
        padding-inline: 20px 35px;
    }
    .black-screen {
        max-width: unset !important;
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        height: 100vh;
        width: 100%;
        z-index: 45;
    }

    .cover-img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        height: 296.5px;
        width: 100%;
        object-fit: unset;
        &.not-set {
            @include flex-vertically-center;
            justify-content: center;
            background-color: $clr-twitter;
            font-family: NotoSans-Regular;
            font-size: rem(60px);
            color: $clr--white;
            text-shadow: 0px 0px 0 rgb(242, 242, 242), -1px 0px 0 rgb(229, 229, 229), -2px 0px 0 rgb(216, 216, 216),
                -3px 0px 0 rgb(203, 203, 203), -4px 0px 0 rgb(190, 190, 190), -5px 0px 0 rgb(177, 177, 177),
                -6px 0px 0 rgb(164, 164, 164), -7px 0px 6px rgba(0, 0, 0, 0.12), -7px 0px 1px rgba(0, 0, 0, 0.5),
                0px 0px 6px rgba(0, 0, 0, 0.2);
            .twitter {
                > * {
                    height: 100px;
                    width: 100px;
                }
            }
        }
    }

    .user-profile {
        position: relative;
        z-index: 2;
        padding-top: 242px;
        margin-bottom: 26px;

        .user-profile-card {
            position: relative;
            border-radius: $br-primary;
            background-color: $clr--white;
            display: flex;
            flex-direction: column;
            align-items: center;

            .user-img {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: -90px;
                margin-inline: auto;
                height: 116px;
                width: 116px;
                font-size: rem(50px);
                outline: 3px solid $clr--white;
                outline-offset: -3px;
                border-radius: 4em;
            }

            .user-profile-details {
                display: flex;
                flex-direction: column;
                flex: 1;
                gap: 24px;
                margin-top: 20px;

                .head-line {
                    @include flex-vertically-center;
                    justify-content: space-between;
                    .user-info {
                        @include flex-vertically-center;
                        flex-direction: column;
                        gap: 5px;
                        .user-name {
                            font-family: Poppins-Medium;
                            font-size: rem(24px);
                            color: $clr-gray1;
                            line-height: 1.5;
                        }
                        .user-statistics {
                            @include flex-vertically-center;
                            gap: 24px;
                            .user-followers {
                                font-family: Poppins-Medium;
                                font-size: rem(12px);
                                color: $clr-gray3;
                                .emphasized {
                                    margin-inline-end: 2px;
                                    font-family: Poppins-SemiBold;
                                    color: $clr-gray1;
                                }
                            }
                        }
                    }
                }

                .btn-edit,
                .btn-follow {
                    @include custom-btn;
                    width: 100px;
                    height: 32px;
                    gap: 4px;
                    margin-inline: auto;
                }
                .mobile-btn {
                    display: flex;
                }
                .desktop-btn {
                    display: none;
                }

                .about {
                    color: $clr-gray3;
                    font-size: rem(18px);
                    max-width: 40ch;
                    line-height: 1.3611;
                }
            }
        }
    }

    .main-content {
        min-height: unset;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

@include for-mobile-layout {
    .user-details {
        > *:not(.cover-img, .edit-profile-modal, .black-screen) {
            padding-inline: 15px;
        }
    }
}

@media (min-width: 700px) {
    .user-details {
        .user-profile {
            .user-profile-card {
                flex-direction: row;
                align-items: flex-start;
                gap: 24px;

                .user-img {
                    position: relative;
                    top: -70px;
                    height: 111px;
                    width: 111px;
                    font-size: rem(60px);
                    font-family: Poppins-SemiBold;
                    left: unset;
                    transform: unset;
                }

                .user-profile-details {
                    margin-top: 0;

                    .head-line {
                        @include flex-vertically-center;
                        justify-content: space-between;
                        .user-info {
                            flex-direction: row;
                            gap: 24px;
                            .user-statistics {
                                @include flex-vertically-center;
                                gap: 24px;
                            }
                        }
                    }
                    .btn-edit,
                    .btn-follow {
                        margin-inline: unset;
                    }

                    .mobile-btn {
                        display: none;
                    }
                    .desktop-btn {
                        display: flex;
                    }
                }
            }
        }
    }
}

@include for-wide-layout {
    .user-details {
        padding-bottom: unset;
        > *:not(.cover-img, .edit-profile-modal) {
            max-width: calc(745px + 306px + 20px + 40px);
            margin-inline: auto;
        }
        .user-profile {
            .user-profile-card {
                .user-img {
                    top: -70px;
                    height: 152px;
                    width: 152px;
                }
            }
        }

        .main-content {
            display: grid;
            grid-template-columns: 1fr 2fr;
        }
    }
}
