/* Breakpoint mixins */

@mixin for-mobile-layout {
    @media (max-width: calc($mobile-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (min-width: calc($narrow-breakpoint + 40px)) {
        @content;
    }
}

/* Media  Mixins */
@mixin aspect-ratio($width, $height) {
    position: relative;
    overflow: hidden;
    &::before {
        display: block;
        content: "";
        width: 100%;
        padding-top: calc(($height / $width) * 100%);
    }
    > * {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    > img {
        height: 100%;
        object-fit: cover;
    }
}

// Mixin for removing hover effects on iphone screen
@mixin hover-supported {
    @media not all and (pointer: coarse) {
        &:hover {
            @content;
        }
    }
}

//   Helpers mixins:
@mixin flex-vertically-center {
    display: flex;
    align-items: center;
}
@mixin flex-column {
    display: flex;
    flex-direction: column;
}

// Custom button:
@mixin custom-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: NotoSans-Medium;
    font-size: rem(12px);
    background-color: $clr-blue1;
    color: $clr--white;
    border: none;
    border-radius: 4em;
    cursor: pointer;
    @include hover-supported {
        background-color: darken($clr-blue1, 10%);
    }
}

// Device Hover Check:
@mixin hover {
	@media (hover: hover) {
		&:hover {
			@content;
		}
	}
}

// General hover style:
@mixin custom-hover-txt {
    background-color: lighten($clr-blue1, 40%);
    outline: 6px solid lighten($clr-blue1, 40%);
    color: $clr-blue1;
    border-radius: 4em;
}
@mixin custom-hover-svg-txt($color:$clr-blue1, $outlineRadius: 6px, $lightenPercentage: 40%) {
    background-color: lighten($color, $lightenPercentage);
    outline: $outlineRadius solid lighten($color, $lightenPercentage);
    border-radius: 4em;
    color: $color;
    svg {
        stroke: $color;
        fill: $color;
    }
}
