// Colors
$clr-gray1: #333333;
$clr-gray2: #4F4F4F;
$clr-gray3: #828282;
$clr-gray4: #BDBDBD;
$clr-gray5: #A9A9A9;
$clr-gray6: #E0E0E0;
$clr-gray7: #F2F2F2;
$clr-green2: #27AE60;
$clr-blue1: #2F80ED;
$clr-blue2: #2D9CDB;
$clr-red: #EB5757;

$clr-twitter: #1da1f2;
$clr--black: #000000;
$clr--white: #FFFFFF;

// Background Colors
$bgc-primary: #F2F2F2;
$bgc-input: #FAFAFA;

$bgc-btn: #2F80ED;

// Box Shadows
$bs-primary: 0px 2px 4px rgba(0, 0, 0, 0.05);

// Border Radiuses
$br-primary: 12px;
$br-secondary: 8px;

// Breakpoints
$mobile-breakpoint: 560px;
$small-breakpoint: 760px;
$narrow-breakpoint: 860px;