// Poppins

@font-face {
    font-family: Poppins-Medium;
    src: url(/src/assets/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url(/src/assets/fonts/Poppins/Poppins-SemiBold.ttf);
}

// NotoSans

@font-face {
    font-family: NotoSans-Medium;
    src: url(/src/assets/fonts/Noto_Sans/NotoSans-Medium.ttf);
}

@font-face {
    font-family: NotoSans-Regular;
    src: url(/src/assets/fonts/Noto_Sans/NotoSans-Regular.ttf);
}

@font-face {
    font-family: NotoSans-SemiBold;
    src: url(/src/assets/fonts/Noto_Sans/NotoSans-SemiBold.ttf);
}

// Montserrat

@font-face {
    font-family: Montserrat-Medium;
    src: url(/src/assets/fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(/src/assets/fonts/Montserrat/Montserrat-Bold.ttf);
}

